@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
}

/* 隐藏地图缩放按钮的默认样式，让它更暗黑 */
.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5) !important;
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  background-color: #18181b !important;
  color: #fbbf24 !important;
  border: 1px solid rgba(255,255,255,0.1) !important;
}
